@tearkiss: #42a6f0;
@pinky: #fea6eb;
@light-cyan: #d8f6ff;
@midnight-blue: #171664;

@article-text-color: @midnight-blue;
@menu-color: @midnight-blue;

@menu-link-color: @midnight-blue;
@menu-link-hover-color: lighten(@midnight-blue, 30%);

@footer-visited-link-color: darken(@pinky, 70%);

@bg-color: lighten(@light-cyan, 5%, relative);
