{%- import "components/talent_card.html" as tc -%}
{% extends "base.html" %}

{% block title %}Introduction{% endblock %}

{% block content %}
<header class="index-header hidden">
  <figure class="profile-pic">
    <picture>
      <img
        alt="Portrait"
        {# TODO generate `srcset` for optimal image #}
        {# TODO Take a new photo #}
        src="/images/profile-portugal-landscape.jpg"
      />
    </picture>
  </figure>

  <p class="motto">
    <cite>“Let your ambition carry you.”</cite>
    <span class="cite-owner">- La Flame</span>
  </p>
</header>

<h2 class="text-blue-950 font-semibold text-2xl">About me</h2>

<p>
  Welcome to my personal website. My name is
  <strong>Michal&nbsp;Vanko</strong>
  and I'm a
  <em> <a href="https://en.wikipedia.org/wiki/Programmer">programmer</a> </em>
  . I am developing software for more than half of my life and <strong>I love it!</strong> Sometimes I stream working on my side projects and building a <a href="TODO DISCORD">community of like minded people</a>. Here you can find blogs of my thoughts and journeys, as well as links to my socials where you can see other content.</p>

<section class="talent-cards">
  {% call tc::talent_card("code", "Web development", "Extensive expertise in creating performant, live web applications and websites") %}
  {% call tc::talent_card("gamepad", "Game development", "Extensive expertise in creating performant, live web applications and websites") %}
</section


<section class="twitch-stream-promo">
  <h2>Follow my twitch stream</h2>
  <div class="twitch-embed">
    <div class="twitch-video">
      <iframe
        title="My twitch channel"
        src="https://player.twitch.tv/?channel=michalvankodev&parent=michalvanko.dev&parent=localhost&autoplay=false"
        loading="lazy"
        frameborder="0"
        scrolling="no"
        allowfullscreen
        height="100%"
        width="100%"
        class="embed"
      />
    </div>
    <aside>
      Come hang out and chat with me <strong>every Tuesday and Thursday</strong>
      afternoon central Europe time. I stream working on my side-projects and talking
      anything about the developer lifestyle.
    </aside>
  </div>
</section>
{% endblock %}
