<article>
  <header class="px-4 mb-3"> 
    <h2 class="text-3xl font-semibold text-blue-900">
      <a rel="prefetch" href="/blog/{{post.slug}}">{{post.metadata.title}}</a>
    </h2>
    <section class="created-at m-1 text-right text-sm text-gray-600">
      <span>Published on</span>
      <time datetime="{post.metadata.date}"> {{post.metadata.date|pretty_date}} </time>
    </section>
  </header>

  <p class="px-5 text-gray-800"> TODO: article preview, maybe implement as a filter?,
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Ald </p>
  <hr class="my-3 mx-4 h-0 border-blue-200 bg-blue-800 text-blue-800" />
  <footer class="px-4">
    <section class="article-tags text-base">
      {% if post.metadata.tags.len() > 0 %}
      <span class="text-gray-600">Tags:</span>
      <ul class="inline">
        {% for tag in post.metadata.tags %}
        <li class="inline italic text-blue-700 {% if !loop.last %} after:content-[','] {% endif %}">
          <a href="/blog/tags/{{tag}}">{{tag}}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </footer>
</article>
