<header class="min-h-full bg-blue-50">
<nav class="">
  <section>
    <ul class="">
      {% for link in header_props.links %}
        <li>
          <a
            rel="prefetch"
            class=""
            href="{{link.href}}"
          >
            {{link.label}}
          </a>
        </li>
      {% endfor %}
    </ul>

    <aside class="logo-section ">
      <a class="logo" href=".">
        <img
          class=""
          src="/m-logo.svg"
          alt="m logo"
          width="44px"
          height="44px"
        />
      </a>
    </aside>
  </section>
</nav>
</header>
