html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Cantarell, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #42436a;
  background: #f2f6f6;
  min-height: 1vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em 0;
  font-weight: 200;
  line-height: 1.2;
  text-shadow: 1px 1px 1px #c6c4b7;
  color: #212138;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

a {
  color: #2e2ed9;
  text-decoration: none;
  transition: 0.2s;
}

a:visited {
  color: #9a2ed9;
}

a:hover {
  color: #2e86d9;
  text-decoration: underline;
}

code,
pre {
  font-family: menlo, inconsolata, monospace;
  font-size: 0.92em;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  color: #464646;
  text-shadow: 0 1px white;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

blockquote {
  margin: 0.2em;
  border-left: 2px solid #2d3935;
  padding: 0 0.4em 0 0.8em;
  background: #eaefef;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #d4dbdb;
}

p {
  margin: 0.8em 0;
}

.tearkiss {
  color: #25b5c5;
}

::selection {
  background: #0dd0d0;
}

.navigation-theme {
  background: #2d3935;
  color: #eae9be;
}

.navigation-theme a {
  color: #eae9be;
}

.navigation-theme a:hover {
  color: #faf9d6;
}

@media only screen and (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 24px;
  }
}
