<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %} {{title}} {% endblock %} @michalvankodev</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#333333" />

    <meta name="description" content="Personal website of @michalvankodev" />
    <meta name="keywords" content="personal, blog, webdev, tech, programming" />
    <meta name="robots" content="index, follow" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS feed for latest posts"
      href="/feed.xml"
    />

    {% block og_meta %}
    <meta property="og:title" content="{% block title %} {{ title }} {% endblock %} @michalvankodev" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://michalvanko.dev" />
    <meta property="og:image" content="https://michalvanko.dev/images/m-logo.svg" />
    {% endblock %}

    <!-- Tailwind output file -->
    <link rel="stylesheet" href="/styles/output.css" />

    <link rel="manifest" href="/manifest.json" />

    <link rel="icon" type="image/svg+xml" href="/images/m-logo.svg" />
    <link rel="icon" type="image/png" href="/images/m-logo-192.png" />
  </head>
  <body class="bg-blue-50">
    <div class="preload-assets" style="display: none">
        {% include "icons/sprite.svg" %}
    </div>
    {% include "site_header.html" %}
    {% block content %} Placeholder {% endblock %}
    {% include "site_footer.html" %}
  </body>
</html>
