{% extends "base.html" %}
{% block content %} 

<section id="not-found-page">
  <p class="mx-6 mt-3 text-4xl text-blue-950 text-center font-extrabold lg:mx-auto max-w-read">
    This page doesn't exists 
  </p>
  <p class="m-6 text-9xl text-blue-950 text-center font-extrabold lg:mx-auto max-w-read">😓
  </p>
  <p class="mx-6 mt-3 text-xl text-blue-950 text-center lg:mx-auto max-w-read">
    check out <a href="/">introduction page</a> or <a href="/contact">contact page</a>
  </p>
</section>

{% endblock %}
