<header id="top" class="bg-blue-50 print:hidden" view-transition-name="site_header">
  <nav class="max-w-image mx-auto flex flex-wrap items-baseline justify-between gap-x-8 gap-y-1 px-5 py-5">
    <a class="font-sans text-lg font-bold text-blue-950 no-underline hover:text-blue-500" href="/">
      @michalvankodev
    </a>
    <div class="flex flex-wrap items-baseline gap-x-5 gap-y-1 font-mono text-sm text-blue-950">
      <a class="text-blue-950 no-underline hover:underline hover:text-blue-500" href="/blog">/blog</a>
      <a class="text-blue-950 no-underline hover:underline hover:text-blue-500" href="/broadcasts">/broadcasts</a>
      <a class="text-blue-950 no-underline hover:underline hover:text-blue-500" href="/showcase">/showcase</a>
      <a class="text-blue-950 no-underline hover:underline hover:text-blue-500" href="/portfolio">/portfolio</a>
      <a class="text-blue-950 no-underline hover:underline hover:text-blue-500" href="/contact">/contact</a>
      <a class="text-blue-950 no-underline hover:underline hover:text-blue-500" href="/search">/search</a>
    </div>
  </nav>
  <hr class="border-slate-300">
</header>
