<article class="border rounded-md bg-white m-4 p-4">
  <header class="px-4 mb-3"> 
    <h2 class="text-xl font-semibold text-blue-900">
      {% match project.metadata.link %}
      {% when Some with (href) %}
      <a href="{{href}}" class="text-blue-900 no-underline">
        {{project.metadata.title}}
      </a>
      {% when None %}
      {{project.metadata.title}}
      {% endmatch %}
    </h2>
    <p class="text-gray-800 text-lg my-2">
      {{project.metadata.description|safe}}
    </p>
  </header>
  <!-- <hr class="border-blue-950 my-5"> -->

  {% match project.metadata.cover_image %}
  {% when Some with (source) %}
  <figure class="my-2">
      {% match project.metadata.link %}
      {% when Some with (href) %}
      <a href="{{href}}">
        <img src="{{source}}" />
      </a>
      {% when None %}
      <img src="{{source}}" />
      {% endmatch %}
		<!-- TODO <figure> -->
  </figure>
  {% when None %}
  {% endmatch %}


	<footer class="text-sm px-4">
    <h3 class="text-xl font-semibold text-blue-900 my-2">
      {{crate::pages::project::translate_classification(project.metadata.classification)}}
    </h3>
    <ul class="inline-block">
     {% for tag in project.metadata.tags %}
      <li class="inline-block text-blue-700 italic">
        {{tag}}
      </li>
      {% endfor %}
    </ul>
	</footer>
</article>
