{% macro talent_card(svg, heading, description) %}

<section class="flex border rounded bg-white m-4 p-3 max-w-[32rem]">
	<aside class="flex justify-center items-center pr-3">
	  <svg aria-hidden="true" class="fill-blue-950 h-12 w-12 md:h-16 md:w-16">
	    <use xlink:href="/svg/icons-sprite.svg#{{svg}}" />
	  </svg>
	</aside>
	<section>
		<header>
			<h3 class="text-lg font-medium mb-1 md:text-2xl">{{heading}}</h3>
		</header>
		<p class="text-sm leading-5 text-slate-800 md:text-lg">{{description|safe}}</p>
	</section>
</section>

{% endmacro %}

