<section class="break-inside-avoid" style="view-transition-name: project_preview_{{project.slug}};">
  {% match project.metadata.cover_image %}
  {% when Some with (source) %}
  {% let picture = crate::picture_generator::picture_markup_generator::generate_picture_markup(source, 420, 236, "Project cover", Some("border border-slate-200")).unwrap_or("cover not found".to_string())|safe %}
  <figure>
    {% match project.metadata.link %}
    {% when Some with (href) %}
    <a href="{{href}}" class="no-underline">{{picture|safe}}</a>
    {% when None %}
    {{picture|safe}}
    {% endmatch %}
  </figure>
  {% when None %}
  {% endmatch %}

  <header class="mt-3">
    <h3 class="font-sans text-lg font-semibold leading-snug">
      {% match project.metadata.link %}
      {% when Some with (href) %}
      <a href="{{href}}" class="text-blue-950 no-underline hover:text-blue-500">
        {{project.metadata.title}}
      </a>
      {% when None %}
      <span class="text-blue-950">{{project.metadata.title}}</span>
      {% endmatch %}
    </h3>
  </header>

  <section class="description font-tech text-base text-slate-700 leading-relaxed mt-1 text-left">
    {{project.body|parse_markdown|safe}}
  </section>

	<footer class="mt-3 font-mono text-xs md:text-sm">
    <span class="text-slate-500 lowercase">
      {{crate::projects::project_model::translate_classification(project.metadata.classification)}}
    </span>
    <ul class="inline-flex flex-wrap gap-x-3 ml-3 align-baseline">
     {% for tag in project.metadata.tags %}
      <li>
        <span class="text-pink-950">#{{tag}}</span>
      </li>
      {% endfor %}
    </ul>
	</footer>
</section>
