<section class="flex gap-4 py-5 border-b border-slate-200">
	{% match skill.thumbnail %}
	{% when Some with (source) %}
	{% let picture = crate::picture_generator::picture_markup_generator::generate_picture_markup(source, 64, 64, &format!("{} cover", skill.name), Some("h-12 w-12 md:h-16 md:w-16")).unwrap_or("cover not found".to_string()) %}
	<aside class="shrink-0 self-center">
		<figure>
			{{picture|safe}}
		</figure>
	</aside>
	{% when None %}
	{% endmatch %}
	<section>
		<header>
			<h3 class="font-display text-lg font-semibold text-blue-950 md:text-xl">{{skill.name}}</h3>
		</header>
		<section class="text-base text-slate-700 leading-relaxed mt-1 md:text-read">{{skill.description|parse_markdown|safe}}</section>
	</section>
</section>
