{% macro social_card_start(svg, url, heading, img, class) %}

<a href="{{url}}" class="block no-underline border border-slate-200 rounded-md bg-pink-200 m-4 p-4 max-w-[392px] {{class}}">
	<header class="flex text-center justify-center items-center gap-2 mb-2">
		 <svg role="img" aria-label="{{svg}} icon" aria-hidden="true" class="h-7 w-7 fill-blue-950">
	    <use href="#{{svg}}" />
	  </svg>
		<h3 class="text-lg font-medium mb-1 text-blue-950 visited:text-blue-950">{{heading|safe}}</h3>
	</header>
	{% let alt_text = format!("{svg} thumbnail") %}

	{{ crate::picture_generator::picture_markup_generator::generate_picture_markup(img, 360, 128, alt_text, Some("h-auto mx-auto rounded-xs")).unwrap_or("thumbnail not found".to_string())|safe }}
</a>
{% endmacro %}
