layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" focus=true {
        pane edit="src/main.rs"
        pane split_direction="horizontal" size=60 {
            just { args "server_dev"; }
            just { args "test"; }
        }
    }
    pane_template name="just" {
        command "just"
        start_suspended true
    }
	floating_panes {
		pane {
            command "just"
            args "tailwind"
        }
	}
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
